{% extends 'base.html.twig' %}

{% block title %}Edit Trade{% endblock %}


{% block body %}

<div class="container py-3">
    <div class="row gx-3 gy-3 justify-content-center">
        <div class="col-12 col-md-8">
                <div class="p-4 card bg-light text-dark border-0 h-20" >
                    <h5 class="card-title">Edit Trade</h5>
                    {{ include('trade/_form.html.twig', {'button_label': 'Update'}) }}
                    {# <a class="btn btn-dark" href="{{ path('app_trade_index') }}">back to list</a> #}           
                    <a class="btn btn-dark my-2" href="{{ path('app_index') }}">Back to Dashboard</a>

                </div>
        </div>
    </div>
</div>

    
{% endblock %}
