<div class="rounded-5 w-100 p-3 bg-light text-center">
<h5>TraxX Trading</h5>
<p>Copyright {{ 'now' | date('Y') }} TraxX.</p>
<span><a href="/">Privacy Policy</a> <a href="/">Contact Us</a> <a href="/">Security</a></span>
</div>