{% extends 'email/base.html.twig' %}

{% block title %}Reset your password{% endblock %}
{% block body %}
    <h3>Click the link below to reset your password.</h3>
    <p>
        <a class="btn btn-primary" href="{{ url('app_reset_password', {token: resetToken.token}) }}">Click here.</a>
    </p>
{% endblock %}